(->>
 {:title "assoc-in* performance"

  :fastester-UUID #uuid "c5f40541-5057-4758-bc7e-5ae7f867b439"

  :benchmarks {'fn-in.performance.assoc-in-benchmarks
               #{'test-assoc-in*-list
                 'test-assoc-in*-map
                 'test-assoc-in*-seq
                 'test-assoc-in*-vec
                 'test-assoc-in*-vec-2
                 'test-assoc-in-map
                 'test-assoc-in-vec
                 'test-assoc-in-vec-2}}

  :html-filename "assoc_in_performance.html"
  :img-subdirectory "img_assoc_in/"
  :markdown-filename "assoc_in_performance.md"
  :results-directory "resources/fn_in_performance/assoc_in/"

  :preamble [:div
             [:p "`assoc-in` preamble"]

             [:p "See the "
              [:a {:href "https://blosavio.github.io/fn-in/performance_summary.html"} "overall summary"]
              " for benchmarking details. The benchmarks displayed in this
 document are defined "
              [:a {:href "https://github.com/blosavio/fn-in/blob/main/test/fn_in/performance/assoc_in_benchmarks.clj"} "here"]
              "."]]

  :comments
  {"Sequences"
   [:div
    [:p "Version 5 offers a bit of improved performance for nested sequences."]]

   "Hashmaps"
   [:div
    [:p [:code "assoc-in*"]
     " version 5 improves the performance on hashmaps to near parity with "
     [:code "clojure.core/assoc-in"]
     "."]]

   "Lists"
   [:div
    [:p "Version 5 offers a bit of improved performance for nested lists." ]]

   "Vectors"
   [:div
    [:p "The top two panels display strange behavior, suggesting that "
     [:code "clojure.core/get"]
     " changed performance. Discounting that spurious change, compared to
 itself, "
     [:code "assoc-in*"]
     " version 5 performed 33 to 67% faster than version 4."]]}


  :chart-settings
  {"(fn [n] (assoc-in (nested-map n) (path-map n) :benchmark-sentinel))"
   {:x-axis-logarithmic? false
    :y-axis-logarithmic? false}

   "(fn [n] (assoc-in* (nested-map n) (path-map n) :benchmark-sentinel))"
   {:x-axis-logarithmic? false
    :y-axis-logarithmic? false}

   "(fn [n] (assoc-in* (nested-list n) (path-list n) :benchmark-sentinel))"
   {:x-axis-logarithmic? false
    :y-axis-logarithmic? false}

   "(fn [n] (assoc-in* (nested-seq n) (path-seq n) :benchmark-sentinel))"
   {:x-axis-logarithmic? false
    :y-axis-logarithmic? false}

   "(fn [n] (assoc-in (narrow-deep-vec n) (path-narrow-deep-vec n) :benchmark-sentinel))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (assoc-in (nested-vec n) (path-nested-vec n) :benchmark-sentinel))"
   {:x-axis-logarithmic? false
    :y-axis-logarithmic? false}

   "(fn [n] (assoc-in* (narrow-deep-vec n) (path-narrow-deep-vec n) :benchmark-sentinel))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (assoc-in* (nested-vec n) (path-nested-vec n) :benchmark-sentinel))"
   {:x-axis-logarithmic? false
    :y-axis-logarithmic? false}}}
 (merge (load-file "resources/fastester_options_base.edn")))

