(->>
 {:title "dissoc* performance"

  :fastester-UUID #uuid "93d36b21-7d1e-4785-b732-a8c41ab7e748"

  :benchmarks {'fn-in.performance.dissoc-benchmarks
               #{'test-dissoc*-list
                 'test-dissoc*-map
                 'test-dissoc*-seq
                 'test-dissoc*-vec
                 'test-dissoc-map}}

  :html-filename "dissoc_performance.html"
  :img-subdirectory "img_dissoc/"
  :markdown-filename "dissoc_performance.md"
  :results-directory "resources/fn_in_performance/dissoc/"

  :preamble [:div
             [:p "Compared to version 4, "
              [:code "dissoc*"]
              " version 5 notably improved performance handling hashmaps. Handling other collection types remained constant."]

             [:p "See the "
              [:a {:href "https://blosavio.github.io/fn-in/performance_summary.html"} "overall summary"]
              " for benchmarking details. The benchmarks displayed in this
 document are defined "
              [:a {:href "https://github.com/blosavio/fn-in/blob/main/test/fn_in/performance/dissoc_benchmarks.clj"} "here"]
              "."]]

  :comments
  {"Sequences"
   [:div
    [:p "Performance did not notably change from version 4 to version 5."]]

   "Hashmaps"
   [:div
    [:p "Version 5 improves performance on hashmaps by 40 to 60% compared to
 version 4."]]

   "Lists"
   [:div
    [:p "Performance did not notably change from version 4 to version 5."]]

   "Vectors"
   [:div
    [:p "Performance did not notably change from version 4 to version 5."]]}


  :chart-settings
  {"(fn [n] (dissoc (map-of-n-key-vals n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (dissoc* (map-of-n-key-vals n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (dissoc* (list-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? true}

   "(fn [n] (dissoc* (seq-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? true}

   "(fn [n] (dissoc* (vec-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? true}}}
 (merge (load-file "resources/fastester_options_base.edn")))

