(->>
 {:title "`get` performance"

  :fastester-UUID #uuid "7b038e60-63f1-4f13-b6f0-b3a168d4242d"

  :benchmarks {'fn-in.performance.get-benchmarks
               #{'test-get*-list
                 'test-get*-map
                 'test-get*-seq
                 'test-get*-vec
                 'test-get-list
                 'test-get-map
                 'test-get-seq
                 'test-get-vec}}

  :html-filename "get_performance.html"
  :markdown-filename "get_performance.md"
  :results-directory "resources/fn_in_performance/get/"

  :preamble [:div
             [:p "`get` preamble"]]

  :comments
  {"Sequences"
   [:div
    [:p "Comments for sequences..."]]

   "Hashmaps"
   [:div
    [:p "Comments for hashmaps..."]]

   "Lists"
   [:div
    [:p "This is unfair to "
     [:code "get*"]
     ": "
     [:code "clojure.core/get"]
     " always returns "
     [:code "nil"]
     " when given a list, whereas "
     [:code "get*"]
     " actually retrieves the element."]]

   "Vectors"
   [:div
    [:p "Comments for vectors..."]]}


  :chart-settings
  {"(fn [n] (get (map-of-n-key-vals n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (get* (map-of-n-key-vals n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (get (list-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (get* (list-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? true}

   "(fn [n] (get (seq-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (get* (seq-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (get (vec-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}

   "(fn [n] (get* (vec-of-n-rand-ints n) (dec n)))"
   {:x-axis-logarithmic? true
    :y-axis-logarithmic? false}}}
 (merge (load-file "resources/fastester_options_base.edn")))

