[(load-file "resources/changelog_entries/changelog_v000.edn")
 (load-file "resources/changelog_entries/changelog_v001.edn")
 (load-file "resources/changelog_entries/changelog_v002.edn")
 (load-file "resources/changelog_entries/changelog_v003.edn")
 (load-file "resources/changelog_entries/changelog_v004.edn")
 (load-file "resources/changelog_entries/changelog_v005.edn")]


#_(comment ;; Release entry template
    {:date {:year nil
            :month nil
            :day nil}
     :responsible {:name "Brad Losavio"
                   :email "blosavio@sagevisuals.com"}
     :version nil
     :comment ""
     :project-status :active
     :stable false
     :urgency :low
     :maturity :alpha
     :breaking? nil
     :changes
     [{:description "Added..."
       :date {:year nil
              :month nil
              :day nil}
       :change-type :added-function
       :breaking? false}]}
    )