{:date {:year 2025
        :month "November"
        :day 7}
 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}
 :version 6
 :comment
 "Fixed `nil` handling.
 TODO: Added handling for Java arrays.
 Added handling for queues.
 TODO: Added handling for `clojure.core.Vec` (created by `vector-of`).
 Improved unit tests. Added property tests."
 :project-status :active
 :stable false
 :urgency :medium
 :breaking? false
 :changes
 [{:description "Reorganized and streamlined unit tests and added inline checks
 to verify the type of the collections being tested."
   :date {:year 2025
          :month "November"
          :day 7}
   :change-type :tests
   :breaking? false}

  {:description "Added property tests, including comparisons to core
 counterparts."
   :date {:year 2025
          :month "November"
          :day 14}
   :change-type :tests
   :breaking? false}

  {:description "Fixed handling of `nil` so that functions properly replicate
 their core counterparts."
   :date {:year 2025
          :month "November"
          :day 15}
   :change-type :bug-fix
   :altered-functions ['assoc*
                       'assoc-in*
                       'dissoc*
                       'dissoc-in*
                       'get*
                       'get-in*
                       'update*
                       'update-in*]
   :breaking? false}

  {:description "Extended protocol to instances of
 `clojure.lang.PersistentQueue`."
   :date {:year 2025
          :month "November"
          :day 15}
   :change-type :bug-fix
   :altered-functions ['assoc*
                       'assoc-in*
                       'dissoc*
                       'dissoc-in*
                       'get*
                       'get-in*
                       'update*
                       'update-in*]
   :breaking? false}]}

