{:date {:year 2024
        :month "August"
        :day 7}
 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}
 :version 0
 :comment "Initial release."
 :project-status :active
 :stable false
 :urgency :low
 :breaking? false
 :changes []}