{:date {:year 2025
        :month "September"
        :day 27}
 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}
 :version 5
 :comment "Performance enhancements and additional arities."
 :project-status :active
 :stable false
 :urgency :medium
 :maturity :alpha
 :breaking? false
 :changes
 [{:description "To improve performance, changed type dispatch from multimethods
 to protocols. Performance improved for many cases, particularly when handling
 hashmaps and vectors. In some cases, functions nearly match their clojure.core
 namesakes. Observed no significant performance regressions."
   :date {:year 2025
          :month "September"
          :day 27}
   :change-type :performance-improvement
   :breaking? false}

  {:description "`get*` and `get-in*` now support 'not-found' arity."
   :date {:year 2025
          :month "September"
          :day 27}
   :change-type :function-arguments
   :altered-functions ['get*
                       'get-in*]
   :breaking? false}

  {:description "`assoc-in*` now correctly throws an exception when given an
 empty path."
   :date {:year 2025
          :month "October"
          :day 2}
   :change-type :bug-fix
   :altered-functions ['assoc-in*]
   :breaking? false}

  {:description "All core functions upgraded to handle records."
   :date {:year 2025
          :month "October"
          :day 2}
   :change-type :relaxed-input-requirements
   :altered-functions ['get*
                       'get-in*
                       'assoc*
                       'assoc-in*
                       'update*
                       'update-in*
                       'dissoc*
                       'dissoc-in*]
   :breaking? false}]}

