{:date {:year 2024
        :month "November"
        :day 27}
 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}
 :version 4
 :comment "Moved changelog-generating scripts to external lib. Requires new dev (non-breaking) dependency."
 :project-status :active
 :stable false
 :urgency :medium
 :maturity :alpha
 :breaking? true
 :changes
 [{:description "Delegate changelog generation to Chlog lib, a dev-time dependency."
   :date {:year 2024
          :month "November"
          :day 27}
   :change-type :added-dependency
   :breaking? false}
  {:description "Removed `fn-in-project-changelog-generator` namespace."
   :date {:year 2024
          :month "November"
          :day 19}
   :change-type :removed-namespaces
   :breaking? true}]}